---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">Click Here!</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        {% for image in site.static_files %}
        {% if image.path contains 'fulls' %}
        <article class="thumb">
            <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt=""
                     data-name="{{ image.name }}"/></a>
            <!--<h2></h2>
            <p></p>-->
        </article>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
      <div class="inner split">
        <div>
          <section>
             <h2>Happy Birthday my Amazing Sister</h1>
            <p>My dearest sister.  First off.  I want to say that I know birthday cards and gifts are not my strong suit.  And I want to honor that you are an AMAZING gift giver.  You shower your friends and family with such love through gift giving.  I am in awe.  It is one of your many, should I say it, gifts?</p>
            <p>So I wanted to honor you birthday with something that I could give you.  That no one else could.</p>
            <p>My dearest sister.  My love for you is complex and many layered.  Our age difference means that we were not the siblings who competed over stuff.  We didn't fight.  I was ten when you were one. So we weren't fighting over toys, or even attention in the same way that siblings who are closer in age might.  Instead I got to be your BIG brother.</p>
            <p>The memories I have from your youth are honestly pretty faded and sometimes hard to access.  I think they are a casaulty of time, made more out of reach by how long ago and far away the family that lived on 32nd and Pearl feels.  They are much like the faded old vhs quality videos that Mom has of us.  What I really remember is just playing with you all the time.  I was there to find many ways to make you laugh and smile.  It is a beautiful laugh.  A heart breaking smile.  I remember getting to be a hero for you.  The big brother that could rescue you from tears, pick you up and run with you around the backyard.  Hide you in a pile of stuffed animals in the chimney in your little room.  I even remeber changing your diapers, a thing that gave me much confidence when it came to change my own daughter's diapers years later.</p>
            <p>Then we moved up to the fancy part of Santa Monica, back when there used to be an unfancy party of Santa Monica.  We made it north of Montana, the perfect house in the perfect neighborhood.  But that is when our age difference really set us apart.  I got lost in the social pull of High School and all that comes with that.  I was there at home, but of course not as much.  And then came college.  And that's when our paths really diverged.  I went away and you were there to make it through the hard times.  There is no one else who will get how crazy our family is but you and me.  Crazy in all the amazing ways and all the difficult ways that family is crazy.  But I also know that I wasn't really in it when it fell apart.  I was 20, I had an out, and I took it.</p>
            <p>You were 10.  You had no out.  When I write it out now, I realize how much it pains me to admit that I wasn't there for you as much as I could have been.  You were so young.  I was so young as well, but in a different way, the way that lets you escape the troubles at home by getting lost in the young adult world around you.  You really had to do it alone and it wasn't easy.  It wasn't easy at all.</p>
            <p>We are in some fundamental ways so different.  We are shaped by some of the same traumas, but we took different paths.  I believe that in many ways I took the easy one.  And then you came along and the easy one was already taken by me, so you were forced down the other.  I got through all that shit by pleasing the hell out of everyone, being the chosen one, making sure to meet all expectations.  And with that path taken, you took the only one left.  You had to rebel.  Rage against the craziness around you. All the time just wanting the stuff that was given so freely to me.</p>
            <p>This feels like a sad story, it does make me cry.  It could have been.  There were moments.  Mexico.  Idaho.  Fuck.  The shit you had to go through.  And then coming back.  Trying to find a way on your own without all the privledges that were given to me.</p>
            <p>But it's not sad at all.</p>
            <p>It's a story of strength.  It's a story of love.  It's a fucking lifetime movie about a young woman building a life on her own.  Finding the partner that will support her and whom she can support.  Growing in ways her parents never could and becoming someone that her parents never could be.  It's a real life story of inspiration.  Grit.  Power.</p>
            <p>I have known you for so long and one thing I can say is that you are the strong one.  You are the one who can do it all.  You are the one, who by force of will found a way to forge some bond in a fractured family.  As tenuous as it is, your sheer power of love and will has done something that I never thought possible.  It's not perfect because we are not perfect.  But you Sarah Wrobel Sinclair, are able to love that imperfection into something that sticks together better than I thought possible.  And you do it with grace, humility, patience, and most of all humour.</p>
            <p>And now on your last birthday before you start a new chapter.  A new chapter that will change you forever.  I want to honor all the chapters that have come before and say that I am so honored and lucky to get to be in your orbit and witness your life.  It is a beautiful life to witness.  I am so ready keep being a part of it for years and years to come.</p>
            <p>Sarah Wrobel Sinclair.  I love you more than I even really know.  And I am so grateful to have you in my life.</p>
            <p>Happy Birthday!!!</p>
          </section>
        </div>
      </div>
    </footer>
</div>
